.video-player{
  height: 60%;
  border-radius: 6px;
  box-shadow: #ccc 2px 2px 5px;
  margin: 10px;
  padding: 15px;
  background-color: #f9f9f9;
}


.video-container{
  height: 60%;
  width: 100%;
  background-color: #1b1b1b;
}
